.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 20px;
}

.title{
    padding-top: 1%;
    font-size: 13vw;
    /* letter-spacing: 30px; */
    z-index: 5;
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/2;
}

.subtitle{
    padding-top: 45%;
    font-size: 6vw;
    font-weight: bolder;
    /* letter-spacing: 20px; */
    text-align: center;
    z-index: 3;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #b9b8b9;
    color: darkred;
}

.image{
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
}

