/* This is the style sheet for the craner cravings website */
/* Import fonts to be used throughout website */
@import url('https://fonts.googleapis.com/css2?family=Alike&family=Comic+Neue&family=Sedgwick+Ave&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: whitesmoke;
}

/* <-------------------- Header code -------------------> */
.logo{
    width: 200px;
    margin: 15px 15px;
    /* box-shadow: 0px 0px 5px #868385; */
    border: 6px solid #e8c2ca;
    /* grid-area: 1/1/2/2; */
}

header{
    background-color:  #d1b3c4;
    color: whitesmoke;
    font-family: "Sedgwick Ave";
    display: grid;  
    grid-template-columns: 350px auto; 
    font-size: x-large;
}

#logoBack{
    width: 220px;
    height: 220px;
    /* background-color: #868385; */
    grid-area: 1/1/2/2;
    justify-self: center;
    align-self: center;
}

#logoLink{
    /* padding: 5px; */
    justify-self: center;
    align-self: center;
    grid-area: 1/1/2/2;
}
#headerNav {
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    color: #fcefee;
    text-decoration: none;
    padding: 15px 35px;
}
nav a:hover {
    background-color: #e8c2ca;
    color:#868385;
}

/* <-------------------- Banner code -------------------> */
.banner{
    background-color: #fcefee;
    color: #d1b3c4;
    font-family: "Sedgwick Ave";
    font-size: xx-large;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    margin: 30px 400px;
    margin-bottom: 90px;
    box-shadow: 5px 5px 15px #868385;
}

/* <-------------------- Top Button code -------------------> */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    font-family: "Comic Neue"; /* setting the font*/
    background-color: #d1b3c4; /* Set a background color */
    color: #fcefee; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #e8c2ca; /* Add a dark-grey background on hover */
    border: 2px solid #868385;
  }

/* <-------------------- Main code -------------------> */
main {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: auto;
    margin-left: 50px;
    margin-right: 50px;
    column-gap: 5px;
    row-gap: 40px;
    align-items: center;
}
h2, h3{
    color: #d1b3c4;
    font-family: "Sedgwick Ave";
}
p{
    color: #625f63;
    font-family: "Comic Neue";
}
.picture{
    max-width: 300px;
    box-shadow:0px 0px 2em #868385;
    border: 5px solid #625f63;
}

section {
    padding: 10px 20px;
}

/* <-------------------- This is the main code that will change between each page (start) -------------------> */
                /* putting sections into the grid, and any additional individual edits */

.noBakes {
    grid-area: 1/2/2/14;
    box-shadow: 0px 0px 1em #d1b3c4;
}

.chocChip {
    grid-area: 2/3/3/9;
    box-shadow: 0px 0px 1em #d1b3c4;
}
#chocChipimg {
    grid-area: 2/10/3/13;
    align-items: center;
}

.cinnamonRolls {
    grid-area: 3/1/4/15;
    box-shadow: 0px 0px 1em #d1b3c4;
}
#frostingCard{
    grid-area: 3/11/4/14;
    background-color: #fcefee;
    z-index: 3;
    box-shadow: 0px 0px .5em #d1b3c4;  
}
.bananaBread {
    grid-area: 4/3/5/9;
    box-shadow: 0px 0px 1em #d1b3c4;
}
#bananaimg {
    grid-area: 4/10/5/12;
}

#mudimg {
    grid-area: 5/2/6/6;
}
.muddieBuddies {
    grid-area: 5/7/6/14;
    box-shadow: 0px 0px 1em #d1b3c4;
}

/* <-------------------- Ending the main code that should change between each page -------------------> */



/* <-------------------- Footer code -------------------> */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px 30px;
    margin-top: 150px;
}
       
#footerLogo {
    max-width: 150px;
    border: 1px solid #868385;
}
footer, footer h3, footer a {
    background-color: #e8c2ca;
    font-family: "Alike";
    color: #868385;
    text-decoration: none;
}

footer h3, footer a {
    padding: 15px 50px;

}
footer a:hover {
    /* background-color: #d1b3c4; */
    color: #fcefee;
    /* text-decoration: underline; */
}

